<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="/booklist/format::header"></div>

<form action="#" th:action="@{/booklist/add}" th:object="${book}" method="post">
  <label>Title </label>
  <input type="text" th:field="*{title}" size="50"/><br/>
  <label>Author </label>
  <input type="text" th:field="*{author}" size="50"/><br/>
  <label>Copyright</label>
  <input type="date" th:field="*{copyright}"/><br/>
  <input type="submit" value="Add Book"/>
</form>
<a th:href="/booklist/listBook">List All Books</a>
<div th:replace="/booklist?format::footer"></div>
</body>
</html>